{% extends "base.html" %}
{% block title %}Library Loan System - Update User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>

.container {
  background-color: #D4EED4;
  padding: 50px;
  border-radius: 8px;
  margin-top: 50px;
  width: 50%;
}

h1 {
  color: #333;
  right: 0;
  text-align: center;
  font-weight: 700 !important;
}

form {
  background-color: #D4EED4;
  padding: 30px;
  position: relative;
  padding-bottom: 50px;
}

.form-group {
  padding:5px;
}

.btn{
  background-color: #1e1e1e !important;
  color: white !important;
  padding: 8px 20px !important;
  margin-top: 25px !important;
  cursor: pointer !important;
  border-radius: 8px !important;
  right: 0;
  position:absolute;
  margin-right: 35px;
  font-weight: 700 !important;

}
</style>


<div class = "container">
<h1 class="display-4">Update User</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div id="prof">
    <div class="form-group">
      {{ render_field(form.remarks, class="form-control") }}
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{% endblock %}
