{% extends "base2.html" %}

{% block title %}Library Loan System - Seller{% endblock %}

{% block content %}
<div class="banner">
  <img src="/images/banner.png" class="img-fluid banner-img" alt="Banner">
</div>

<div class="content-wrapper">
  <h1 class="heading">Seller Listing Page</h1>
  <div class="listings-container">
    <a href="/createListing" class="list-item">
      <img src="/images/addlist.png" class="list-img" alt="Add Listing">
    </a>
    <a href="/retrieveListings" class="list-item">
      <img src="/images/viewlist.png" class="list-img" alt="View Listings">
    </a>
  </div>
</div>

<div class="footer">
  <img src="/images/footer.png" class="img-fluid" alt="Footer">
</div>

<style>
  /* Banner Styling */
  .banner {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  /* Content Wrapper */
  .content-wrapper {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .heading {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 650;
    text-decoration: underline !important;
  }

  /* Listings Container */
  .listings-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Increased spacing for better visibility */
    margin-top: 20px;
  }

  .list-item {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: 'Trebuchet MS', sans-serif;
  }

  .list-item:hover {
    color: blue;
  }

  /* Image Sizing */
  .list-img {
    width: 200px; /* Increased width */
    height: 200px; /* Increased height */
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
  }

  /* Footer */
  .footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
</style>

{% endblock %}
