{% extends "base.html" %}
{% block title %}Library Loan System - Create Sale{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Create Sale</h1>

<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.item_name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.category, class="form-control", style="list-style-type:none") }}
    </div>
    <div class="form-group">
        {{ render_field(form.quantity_sold, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.unit_price, class="form-check") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}

<!-- can delete i think -->