

{% extends "base.html" %}
{% block title %}Library Loan System - Create Customer{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css')}}">
<h1 class="display-4"></h1>
<section class="hero">
        <div class="hero-text">
            <h1 id="background-big text">Eco. Ethical. Elegant.</h1>
            <br>
            <p>Style meets responsibility</p>
        </div>
    </section>

    <section class="recommendations">
        <h2>RECOMMENDATIONS</h2>
        <div class="items">
            <div class="item"><img src="{{url_for('static',filename='image/men.jpg')}}" alt="men" width="300px"></div>
            <div class="item"><img src="{{url_for('static',filename='image/women.jpg')}}" alt="women" width="300px"></div>
            <div class="item"><img src="{{url_for('static',filename='image/kids.jpg')}}" alt="Kids " width="300px"></div>
        </div>
    </section>

{% endblock %}