
{% extends "base.html" %}
{% block title %}Library Loan System - Create Customer{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}">
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {{ form.csrf_token }}
            <label for="username">Username:</label>
            {{ form.username }}
            {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            <br>
            <label for="password">Password:</label>
            {{ form.password }}
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            <br>
            <input type="submit" value="Login">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>
        <div class="register-link">  <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
        </div>
    </div>
{% endblock %}