<nav class="sidebar">
    <div class="logo">
        <img src="./static/images/logo.png">
    </div>
    <div class="navbar-item">
        <h2>Main Menu</h2>
            <a href="/">
                <span>
                    <img class="icon" src="./static/images/dashboardicon.png">
                    <h3>Dashboard</h3>
                </span>
            </a>
            <a href="/retrieveSales">
                <span>
                    <img class="icon" src="./static/images/charticon.png">
                    <h3>Sales Report</h3>
                </span>
            </a>
            <a href="/products">
                <span>
                    <img class="icon" src="./static/images/productsicon.png">
                    <h3>Products</h3>
                </span>
            </a>
            <a href="#">
                <span>
                    <img class="icon" src="./static/images/feedback.png">
                    <h3>Feedback</h3>
                </span>
            </a><a href="#">
                <span>
                    <img class="icon" src="./static/images/accounts.png">
                    <h3>Accounts</h3>
                </span>
            </a>
    </div>
</nav>